<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dienstenmarkt Amsterdam West</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Dienstenmarkt Amsterdam West</h1>
        <nav>
            <ul>
                <a href="/">Home</a></li>
                <a href="/vraagenaanbod">vraagaanbod</a></li>
                <a href="#">Diensten aanbieden</a></li>
                <a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
