<%- include('./partials/head') %>
    <main>
        <section id="search">
            <h2>Zoek naar diensten</h2>
            <input type="text" placeholder="Zoek diensten...">
            <button>Zoeken</button>
        </section>

        <section id="request-services">
            <h2>Diensten aanvragen</h2>
            <!-- Formulier voor het aanvragen van diensten -->
        </section>

        <section id="offer-services">
            <h2>Diensten aanbieden</h2>
            <!-- Formulier voor het aanbieden van diensten -->
        </section>
    </main>


<%- include('./partials/foot') %>